        .footer {
            background-color: #1a1a1a;
            padding: calc($separacion / 2);
            margin-bottom: 0;
            .contenido-footer {
                padding-top: calc($separacion / 2);
            }
            .copyrigth {
                color: $blanco;
                text-align: center;
            }
            .navegacion {
                visibility: visible;
                opacity: 1;
                height: auto;
            }
        }